placeholder(color)
    &::-webkit-input-placeholder
        color: color

    &::-moz-placeholder
       color: color
       opacity: 1

    &:-ms-input-placeholder
       color: color

webkitOverflowFix()
    -webkit-mask-image: -webkit-radial-gradient(white, black)

loading(color)
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 20px, color 20px, color 40px)
    background-size: 56px 56px
    animation: loading 1s infinite linear