@import 'mq';
@import 'functions';

$colors = {
    white: #fff,
    black: #000,
    text: #1F4455,
    border: {
        thick: #A7B9C8,
        thin: #E2E9ED,
        progress: #D4DFE8,
    },
    green: #3FB15F,
    red: #F50808,
    button: #1F4455,
}

$fonts = {
    roboto: 'Roboto'\, sans-serif,
}